@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
body {
    background-color: #f2d9e5;
  }
  a {
    color: black;
  }
  .algin-center {
    text-align: center;
  }
  .google-fonts-playball {
    font-family: 'Playball', sans-serif;
  }
  .grid-container {
    display: grid;
    grid-template: 500px / auto auto auto;
    grid-gap: 10px;
    background-color: #f2d9e5;
    padding: 10px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 200px 200px 200px 200px;
    font-size: 30px;
  }
    .gridbackground1 {
      background-image: url("../img/fam5.jpg");
      background-size: cover;
    }
    .textbackground {
      display: inline;
      background-color: rgba(252, 251, 251, 0.824);
      color: black;
      padding: 10px 10px 10px 10px;
    }
  .gridbackground2 {
    background-image: url("../img/girls.jpg");
    background-size: cover;
  }
  .gridbackground3 {
    background-image: url("../img/rb.jpg");
    background-size: cover;
  }