@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
body {
	background-color: #f2d9e5;
}
a {
	color: black;
}
a:hover {
	background-color: #f2c0d8;
}
.algin-center {
	text-align: center;
}
.google-fonts-playball {
	font-family: 'Playball', sans-serif;
}
.grid-container {
	display: grid;
	grid-template: 500px / auto auto auto;
	grid-gap: 10px;
	background-color: #f2d9e5;
	padding: 10px;
}
.grid-container > div {
	background-color: #f2d9e5;
	text-align: center;
	padding: 200px 200px 200px 200px;
	font-size: 30px;
}
.gridbackground1 {
	background-image: url('../img/fam5.jpg');
	background-size: cover;
}
.textbackground {
	display: inline;
	background-color: rgba(252, 251, 251, 0.824);
	color: black;
	padding: 10px 10px 10px 10px;
}
.gridbackground2 {
	background-image: url('../img/girls.jpg');
	background-size: cover;
}
.gridbackground3 {
	background-image: url('../img/rb.jpg');
	background-size: cover;
}
.imgsize {
	max-width: 450px;
	max-height: 450px;
}
.gridpagetwo1 {
	background-color: pink;
}
.gridpagetwo2 {
	background-image: url('../img/Arch1.jpg');
	background-size: cover;
}
.gridpagetwo3 {
	background-image: url('../img/Arch2.jpg');
	background-size: cover;
}
/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4caf50;
	color: white;
}
